@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif, 'Poppins'; */
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;

  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);

  --skin-color: #ec1839
}

body {
  font-family: 'Poppins'sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  opacity: 1;
  padding: 10px 30px 20px;
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  display: flex;
  border-right: 1px solid var(--bg-black-50);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
}


ul {
  list-style: none;
}


::-webkit-scrollbar {
  display: none;
}